*{
  margin: 0px;
  padding: 0px;
}

/* Style for the navbar  */
header {
  position:sticky;
  top:0;
}

.navbar {
  background-color: brown;
  height: 40px;
  /* width: 100vw;
  position: fixed;
  top: 0px; */
}

.navbar ul {
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}
/* Style for the navbar  */


/* Style for the main box */
.main-box {
  margin: 20px;
  height: 600px;
  background-color:rgb(255, 156, 27);
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.box1 {
  height: 400px;
  width:600px;
  background-color: aqua;
  margin: 50px;
}

.box2 {
  height: 400px;
  width:600px;
  background-color:beige;
  margin: 50px;
}
/* Style for the main box */


/* Style for the content */
.content {
  background-color: bisque;
  height: 200px;
  width: 90vw;
  text-align: center;
  border-radius: 70px;
  margin-left: 5vw;
  font-size: 50px;
}

.content p {
  position: relative;
  top: 85px;
}
/* Style for the content */


/* Style for the gap */
.gap {
  height: 65vh;
}
/* Style for the gap */


/* Style for the fixed button */
.fixedbutton {
  height: 80px;
  width: 80px;
  border: 1px solid gray;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

.fixedbutton p {
  font-size: 30px;
  font-weight: 500;
}
/* Style for the fixed button */


/* Style for the footer */
.lastfoot {
  background-color: rgb(170, 155, 155);
  height: 80px;
  position: static;
  bottom: 0px;
}

.lastfoot p {
  padding: 5px;
}
/* Style for the footer */