/* Styles For All */
* {
    padding:0px;
    margin:0px;
}

/* Styling Main  */
main {
    height:100vh;
    /* Setting Height To Complete View */
}

/* Styling Content's Container */
.content {
    margin: 10px 0 0 35px;
    border:2px solid black;
    height:350px;
    height:200px;
    width:350px;
    display:inline-block;
    padding:30px;
    text-align:center;
}